{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaires list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>Iduser</th>
                <th>Dateinsert</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td><a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}">{{ commentaire.id }}</a></td>
                <td>{{ commentaire.comment }}</td>
                <td>{{ commentaire.idUser }}</td>
                <td>{% if commentaire.dateInsert %}{{ commentaire.dateInsert|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
