{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ commentaire.comment }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ commentaire.idUser }}</td>
            </tr>
            <tr>
                <th>Dateinsert</th>
                <td>{% if commentaire.dateInsert %}{{ commentaire.dateInsert|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentaire_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
